modules = ["php-8.2", "web", "nodejs-20", "java-graalvm22.3"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Server"

[[workflows.workflow]]
name = "PHP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -c /home/runner/workspace/php.ini -S 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["php", "-S", "0.0.0.0:5000"]

[userenv]

[userenv.shared]
APP_URL = "https://silentmultipanel.vippanel.in"
DB_HOST = "localhost"
DB_NAME = "silentmu_silentdb"
DB_USER = "silentmu_silentdb"
DB_PASS = "silentmu_silentdb"
